
alias subl='open -a Sublime\ Text'
alias anarchy="curl \"http://vault.alanorozco.com/anarchy/?pinshits\" -d "

alias gspl="git stash; git pull; git stash pop;"
alias gpnb='git push -u origin $(git rev-parse --abbrev-ref HEAD)'
alias gmm="git stash; gco master; gl; gco -; git merge master && git stash pop"
alias gsp="git stash pop"
alias gs="git stash"
alias gdc="git diff --cached"
alias gl="git pull --rebase"
alias gsw="git add --all && git commit --no-verify -m 'WIP'"
alias gr="git reset"
alias grmmerged="git branch --merged master | grep -v \"\* master\" | xargs -n 1 git branch -d"
alias gco=gco_and_check_wip
alias gcob='git checkout -b'
alias gcwip='ga .; gcmsg "WIP" --no-verify'
alias grbs='git rebase -i origin/master --autosquash'
alias gcmf='git commit --fixup'

alias rmr="rm -r"
alias cpr="cp -r"
alias lll="ll -tr"

# alias d="docker"
# alias drmtest="docker rm -f $(docker ps | grep latest | awk '{print $1}')"
alias sayready="while true; do; say hey I am done; done;"

alias gveoo="cd $GOPATH/src/github.com/veoo/spice/services/canopener; conda activate spice-ml"
alias scratch="cd $GOPATH/src/scratch && subl ."

make_alias() {
	echo "alias $1=\"$2\"" >> ~/.zshrc
}
alias mkalias=make_alias

grep_recursive() {
	grep -r "$1" .
}

kfirstpo() {
	kubectl get po | grep  $1 | awk '{print $1}' | sed -n 1p
}

klogsof() {
	kubectl logs --tail=100 $(kgpo $1 | awk '{print $1}' | sed -n 1p)
}

gco_and_check_wip() {
	git checkout $1
	ret=$?

	if [ $ret != 0 ]; then
		return 1
	fi

	last_commit=$(git log --format=%B -n 1 -1)
	if [ "$last_commit" = "WIP" ]; then
		if [ "$(git status -s)" = "" ]; then
			echo "Restoring working in progres..."
			git reset HEAD^
		else
			echo "NOTE There's saved work in progres"
		fi
	fi
}

activate_cd() {

	envs=$(cat ~/.conda/environments.txt | grep "/envs/" | awk -F "/" '{print $NF}')
	dir="${PWD##*/}"

	if [[ "$envs" =~ "$dir" ]]; then
		conda activate $dir
	else
		echo "Environment $dir not found"
	fi
}

alias condacd=activate_cd

alias grepr=grep_recursive

alias grm="go run main.go"
alias gotest='go test -race -tags=unit $(go list ./... | grep -v '/vendor/' | grep -v kube | grep -v service-expose | grep -v cmd-configapi)'
alias gotestv='go test -race -tags=unit -v $(go list ./... | grep -v '/vendor/' | grep -v configapi | grep -v service-expose)'
alias gotestint='go test -race -tags=integration $(go list ./... | grep -v '/vendor/' | grep -v configapi | grep -v service-expose)'
alias gotestintv='go test -race -v -tags=integration $(go list ./... | grep -v '/vendor/' | grep -v configapi | grep -v service-expose)'
alias kgpo='k get po | grep '
alias kgp='k get po'
alias kcc='kubectl config current-context'
alias kfpo=kfirstpo
alias klogs=klogsof
alias kunhealthy='kubectl get event | grep -v Normal | grep -v "[2-5].m" | grep " [a-z]\{3,\}-"'

# alias dstartkr="docker rm -f kannel_routing; HOST_IP=$(ifconfig | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1' | sed -n 1p) docker run --name kannel_routing -d -p 3040:3040 -e KANNEL_USER=kannelUser -e KANNEL_PASSWORD=kannelPassword -e REDIS_URL=redis://$HOST_IP:6379 -e MYSQL_HOST=$HOST_IP -e MYSQL_PORT=4406 -e MYSQL_USER=root -e MYSQL_PASSWORD=root kannel_routing"

alias k="kubectl"
alias ks="kubectl --namespace=kube-system"

alias pycheck="flake8 src/ tests/ scripts/; mypy --ignore-missing-imports src/ tests/ scripts/"
